<%- include('./partials/header') %>

    <% if(flashRes.length > 0) { %>
        <div class="absolute top-5 left-1/2 -translate-x-1/2 p-3 rounded-md bg-blue-500 shadow-md">
            <span class="inline-block text-white font-medium">
                <%= flashRes %>
            </span>
        </div>
    <% } %>
            <div class="min-h-screen flex flex-col">
                <div class="container px-10 py-20 flex flex-grow">
                    <div class="w-[25%] flex h-screen flex-col items-start">
                        <div class="flex flex-col">
                            <a class="block w-fit mb-2 text-lg font-light tracking-tight hover:text-cyan-300" href="/api/owners/admin/all-products">All Products</a>
                            <a class="block w-fit mb-2 text-lg font-light tracking-tight hover:text-cyan-300" href="/api/owners/admin/create-products">Create new product</a>
                        </div>
                    </div>
                    <div class="min-h-screen w-[0.5px] bg-zinc-700 absolute left-[250px] top-[4.5rem]"></div>
                    <main class="w-3/4 p-10 shadow bg-zinc-800 border-zinc-900 border-2 rounded-lg">
                        <h2 class="text-3xl font-bold mb-10 text-blue-300">Create New Product</h2>
                        <form action="/api/products/create" method="post" enctype="multipart/form-data">
                            <div class="mb-6">
                                <h3 class="text-lg font-semibold mb-2">Product Details</h3>
                                <div class="mb-4 flex items-center">
                                    <label class="block mb-2 font-medium">Product Image</label>
                                    <input type="file" class="py-2 px-4 rounded cursor-pointer" name="image"
                                        value="Select File">
                                </div>
                                <div class="grid grid-cols-2 gap-4">
                                    <input name="name" type="text" placeholder="Product Name"
                                        class="border p-2 rounded w-full outline-none font-semibold text-white bg-zinc-700">
                                    <input name="price" type="text" placeholder="Product Price"
                                        class="border p-2 rounded w-full outline-none font-semibold text-white bg-zinc-700">
                                    <input name="discount" type="text" placeholder="Discount Price"
                                        class="border p-2 rounded w-full outline-none font-semibold text-white bg-zinc-700">
                                </div>
                            </div>

                            <div>
                                <h3 class="text-lg font-semibold mb-2">Panel Details</h3>
                                <div class="grid grid-cols-2 gap-4">
                                    <input name="bgColor" type="text" placeholder="Background Color"
                                        class="border p-2 rounded w-full outline-none font-semibold text-white bg-zinc-700">
                                    <input name="panelColor" type="text" placeholder="Panel Color"
                                        class="border p-2 rounded w-full outline-none font-semibold text-white bg-zinc-700">
                                    <input name="textColor" type="text" placeholder="Text Color"
                                        class="border p-2 rounded w-full outline-none font-semibold text-white bg-zinc-700">
                                </div>
                            </div>
                            <input
                                class="px-5 py-2 rounded mt-5 bg-blue-500 text-white font-semibold tracking-tight cursor-pointer"
                                type="submit" value="Create New Product">
                        </form>
                    </main>
                </div>
            </div>
            <%- include('./partials/footer') %>